<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="{{ url_for('static', filename='images/ml_explorer.png') }}" width="112" height="32">
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item dropdown is-right is-hoverable">
          <a class="navbar-link">
            More
          </a>
  
          <div class="navbar-dropdown">
            <a class="navbar-item" href="/about">
              About
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item" href="https://github.com/nikhiltyagi1991/ML-Explorer/issues" >
              Report an issue
            </a>
          </div>
        </div>
      </div> 
    </div>
  </nav>